<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymleaf/layout"
layout:decorator="layout">
<head>
<meta charset="UTF-8"/>
<title>Produit</title>
 <link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}">
</head>
<body>
<div layout:fragment="content"> 
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">Saisir un produit</div>
			<div class="panel-body">
				<form th:action="@{/admin/save}" method="post">
					<div class="form-group">
					<input type="text" th:value="${produit.id}">
						<label class="control-label">Désignation :</label> <input
							class="form-control" type="text" name="designation"
							th:value="${produit.designation}"> <span
							style="color: red" th:errors="${produit.designation}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Prix :</label> <input
							class="form-control" type="text" name="prix"
							th:value="${produit.prix}"> <span style="color: red"
							th:errors="${produit.prix}"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Quantite :</label> <input
							class="form-control" type="text" name="quantite"
							th:value="${produit.quantite}"> <span style="color: red"
							th:errors="${produit.quantite}"></span>
					</div>
					<button type="submit" class="btn btn-primary">Save</button>
				</form>
			</div>
		</div>
	</div>	</div>
</body>
</html>